<!doctype html>
<html ng-app="app3" ng-cloak>
    <head>
        <title>AngularJS Tutorial 3</title>
        <style>
        [ng\:cloak], [ng-cloak], .ng-cloak{
            display: none;
        }
        </style><!--The problem with having the imported angular cdn in the end of the body is that it shows the {{tags}} when loading the page and before showing the results. so this is one solution for this problem. Another solution is to put the imported script in the beginning of the body -->
    </head>
    <body>
        <div id="groceryList" ng-controller="gListCtrl">
            <h3 class="ListTitle">{{groceries.length}} Groceries to Get</h3>

            <ol>
                <li>{{groceries[0].item}}</li>
            </ol>
            <ol start="2">
                <li ng-repeat="grocery in groceries" ng-if="$index > 0">{{grocery.item}} {{$index}}
                </li>
            </ol>

            <table>
              <tr ng-repeat-start="grocery in groceries">
                <td>{{grocery.item}}</td>
              </tr>
              <tr ng-repeat-end>
                <td>{{grocery.purchased}}</td>
              </tr>
            </table>
        </div>



        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src = "js/exam3.js"></script>
    </body>
</html>
